{{> head }}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Evangelion</h1>
        <p>
            comming soon on NetFlix...
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/evangelion.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}